name: Issue bot

on:
  issue_comment:
    types: [created]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install dependencies
        run: pip install PyGithub

      - name: Run Python bot
        run: python bot.py
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}